body{
    margin:0;
    /* padding-bottom:50px; */
    padding-top:60px;
}
/* body{
    background-image:url(white-pattern.jpg);
} */


.navigation a{
    color:black;
    text-decoration: none;
}
.navigation{
    background-color:rgb(205, 180, 207);
    font-size:20px;
    height:80px;
    display:flex;
    justify-content:space-around;
    /* padding-left:40px;
    padding-right:40px; */
    align-items:center;
    margin-bottom:10px;
    box-shadow:2px 7px 3px rgb(168, 167, 167);
}
.navigation a :active{
    background-color:red;
    color:white;
}
.navigation{
    position:fixed;
    top:0;
    left: 0;
    right:0;
    width:100%;
    /* height:20px; */
    /* padding:40px; */
    z-index:100;
}

/* .header{
    margin-bottom:50px;
} */
.header{
    padding-top:40px;
}
.header img{
   opacity:0.3;
}
.header_content{
    position:absolute;
    top:250px;
    left:40px;
}
h1{
    font-size: 50px;
    color:#7f7f7c;
    padding-left:30px;
    
}
h2{
    font-size:75px;
    color:#FA6D3C;
    padding-left:30px;
    margin:0px;
}
h3{
    color:#474745;
    font-size:30px;
   padding-left:40px;
}
h5{
    font-size:40px;
    color:rgb(38, 3, 153);
    /* margin-left:650px; */
    /* justify-self: center; */
    text-align:center;
}
h4{
    font-size:30px;
}
h6{
    font-size:30px;
    color:black;
}
.description{
    background:rgb(212, 208, 212);
    height:500px;
    display:flex;
    flex-direction:row;
    gap:30px;
    justify-content:space-between;
    align-items:center;
    padding:30px 160px;
    margin-bottom:20px;
    margin-top:60px;
    font-size:25px;
    
}
image1{
    width:100px;
    /* padding-left:80px; */
   /* padding-right:40px;
   padding-left:20px; */
}
.desc1{
    color:#413f3f;
}
.desc1{
   flex:0 0 500px;
   text-align:justify;
   /* margin-right:20px; */
}
.int{
    background-color: rgb(212, 208, 212);
    height:350px;
    padding-top:50px;
}
.image2{
    display:flex;
    flex-direction:row;
    height:250px;
    width:auto;
    justify-content:space-around;
    text-align: center;
    padding-left:50px;
    padding-right:50px; 
    padding-bottom:80px;   
}
.container-int{
    background-color: rgb(212, 208, 212);
    height:300px;
    width:100%;
    margin-top:80px;  
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    column-gap: 40px;
    row-gap: 20px;
    justify-items:center;
    align-items:center;
}
.container-image{
    padding:50px 60px;
    
}
.container-image img{
    border:2px solid white;
    border-radius:50%;
}
.container-image p{
    padding-left:40px;
    font-weight:bold;
    font-size:20px;
}

/* .interest{
    background-color:rgb(115, 24, 201);
    height:500px;
    width:auto; */
    /* display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 20px;
   justify-items: center;
   align-items: center; */
/* } */
/* .aa{
    border:4px solid red;
    height:400px;
    width:500px;
} */
/* .int1 img{
    height:100px;
    width:100px;
    border:4px solid white;
    border-radius:50%;
}
.int1 p{
    font-size:18px;
    font-weight:bold;
    color:rgb(35, 34, 34);
    padding-left:30px;
} */
/* .a-container{
    background-color: grey;
    height:auto;
    width:100%;
   display:flex;
} */
.button{
    font-size:20px;
    font-weight: bold;
    background-color:rgb(250, 122, 237);
    border-color:rgb(244, 136, 233);
    border-style:solid;
    border-width:1px;
    color:rgb(248, 248, 250);
    height:60px;
    width:180px;
    border-radius:20px;
    cursor:pointer;
    margin:10px 10px;
    box-shadow: 5px 5px 10px grey;
}
.button:hover{
    background-color:#510f4b;
    border:none;
    color:rgb(251, 5, 5);
}
.button:active{
    opacity:0.7;
}
.portfolio-button{
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-bottom:20px;
}
.container{
    width:100%;
    height:500px;
    background:rgb(212, 208, 212);
    display:flex;
    align-items:center;
    justify-content:center;
}
.skills h3{
    font-weight:40px;
    letter-spacing:1px;
    margin-top:40px;
    margin-bottom:5px;
    color:#fff;
    font-size:16px;
}
.progress-bar{
    background:#959595;
    width:600px;
    height:10px;
    border-radius:5px
}
.progress-bar div{
    height:10px;
    border-radius:5px;
    width:0%;
    /* background:red; */
}
.progress-bar div span{
    height:40px;
    width:40px;
    border-radius:50%;
    background:#222;
    float:right;
    margin-top:-15px;
    margin-right:-20px;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
}
.photoshop{
    background:#510f4b;
    animation:photoshop 1s linear forwards;
}
.photoshop span{
    border:1px solid #510f4b;
}
.illustrator{
    background:#fc2a05;
    animation:illustrator 1s linear forwards;
}
.illustrator span{
    border:1px solid #fc2a05;
}
.indesign{
    background:#1c03fc;
    animation:indesign 1s linear forwards;
}
.indesign span{
    border:1px solid #1c03fc;
}
.html{
    background:#f8f406;
    animation:html 1s linear forwards;
}
.html span{
    border:1px solid #f8f406;
}
.css{
    background:#f80317;
    animation:css 1s linear forwards;
}
.css span{
    border:1px solid #f80317;
}
@keyframes photoshop{
    100%{
        width:75%
    }
}
@keyframes illustrator{
    100%{
        width:86%
    }
}
@keyframes indesign{
    100%{
        width:90%
    }
}
@keyframes html{
    100%{
        width:70%
    }
}
@keyframes css{
    100%{
        width:65%
    }
}
/* .container1{
    display:inline-block;
    width:1000px;
    margin:30px;
    text-align:center;
    border: 1px solid black;
} */
.image3{
    background-color:rgb(212, 208, 212);
    width:100%;
    height:400px;
    display:flex;
    /* flex-direction:row; */
    gap:60px;
    /* padding-left:40px; */
    /* flex:wrap; */
    cursor:pointer;
    justify-content:center;
    margin:0px;
    padding-top:40px;
    padding-bottom:40px;
}
.brochure-position{
    position:relative;
    top:-250px;
    left:10px;
}
.position{
    color:white;
    text-shadow:5px 5px 5px rgb(252, 3, 3) ;
    font-size:30px;
    font-weight:bold;
    text-align:center;
}
.position1{
    color:rgb(255, 4, 4);
    text-shadow:5px 5px 5px white;
    font-size:30px;
    font-weight:bold;
    text-align:center;
}

/* .brochure{
    position: relative;
    flex:1;
    border:2px solid blue;
    margin: 10px;
    padding: 0%;
} */
.brochure:hover{
    opacity:0.6;
}
.brochure:active{
    opacity:0.2;
}
.branding:hover{
    opacity:0.6;
}
.branding:active{
    opacity:0.2;
}
.packaging:hover{
    opacity:0.6;
}
.packaging:active{
    opacity:0.2;
}

.container-contact{
    width:100%;
    height:auto;  
}
.send{
    /* display:inline-block; */
    width:1000px;
    height:500px;
    background:pink;
}
.send{
    /* padding-left:40px;
    margin-top:0px;
    padding-top:0px; */
    margin-left:250px;
    padding-left:30px;
    padding-top:10px;
}
.search-bar{
    font-size:20px;
    margin-left:40px;
    margin-bottom:10px;
}

.search-bar{
    /* display:flex; */
    /* flex:1; */
    height:34px;
    width:800px;
}
.search-bar1{
    font-size:20px;
    margin-left:40px;
    margin-bottom:0px;
}
.search-bar1{
    /* display:flex; */
    /* flex:1; */
    height:150px;
    width:800px;
}
.send-button{
    font-size:20px;
    font-weight:bold;
    background-color: rgb(37, 35, 35);
    border: 1px solid rgb(37, 35, 35);
    border-radius:10px;
    color:rgb(248, 243, 243);
    margin-top:50px;
    margin-left:450px;
    height:50px;
    width:100px; 
    cursor:pointer;  
}
.send-button:hover{
    opacity:0.7;
}
.send-button:active{
    background-color: rgb(247, 51, 51);
    color:rgb(42, 40, 40);
}
.get{
    background-color:rgb(212, 208, 212);
    /* width:600px; */
    margin-top:40px;
}
.get{
    /* display:inline-block; */
    width:1440px;
    height:300px;
    /* padding:5px 30px; */
    /* margin-left:40px; */
    padding-top:20px;
    padding-left:40px;
    padding-right:40px;

}
/* .get.in{
    text-align:center;
}
.get-in{
    font-size:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
} */
.get-in{
    font-size:18px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 20px;
    height:80px;
    padding-left:60px;
    /* justify-items: center; */
    align-items: center;
}
h4{
    text-align: center;
    font-size:25px;
    text-decoration:2px underline black;
}
footer{
    margin:40px 40px;
    text-align:center;
}




